@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --z-index-60: 60;
  --z-index-70: 70;
  --z-index-80: 80;
  --z-index-90: 90;
  --z-index-100: 100;

}

body {
    @apply bg-slate-50 text-slate-900 overflow-x-hidden transition-colors duration-300;
}

::root.dark body {
    @apply bg-slate-900 text-white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}